*.pyc
test/mctest_config/my.conf.json
test/mctest_config/server.conf.json
temp/smt/mutant_0.smt2
dockers/gen/token.txt
temp*
src/maze_gen/smt2/__pycache__/converter.cpython-311.pyc.139893005381776
src/maze_gen/storm/config.py
